:root {
	--accent-color: #{$primary};
	--animate-delay: 1.2s;

	--fontSizeBase: 13px;
	@include media-breakpoint-up(sm){
		--fontSizeBase: 13.5px;
	}
	@include media-breakpoint-up(md){
		--fontSizeBase: 14.5px;
	}
	@include media-breakpoint-up(lg){
		--fontSizeBase: 16px;
	}
	@include media-breakpoint-up(xl){
		--fontSizeBase: 17px;
	}
	@include media-breakpoint-up(xxl){
		--fontSizeBase: #{$em-base};
	}


	--sPT: #{rem(40)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(40)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(60)};
		--sPB: #{rem(45)};
		--sTPB: #{rem(60)};
	}

	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;
}