// start .sData
.sData {

	&__main-row{
		@include roww(0);
	}
	//dataSlider
	&__sl-cont{
		background: red;
		min-height: 100%;

		position: relative;
		.swiper-container{
			@include media-breakpoint-up(lg){
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.swiper-wrapper{}
		.swiper-slide{

			min-height: rem(450px);
			@include media-breakpoint-up(sm){
				min-height: rem(500px);
			}
			@include media-breakpoint-up(lg){
				min-height: rem(687px);
			}

			height: auto;
		}
	}
	//prev, next
	.swiper-prev,
	.swiper-next{
		.icon{
			@include media-breakpoint-up(xxl){
				font-size: rem(68);
			}
		}
	}

	.swiper-prev{
		left: rem(10);
		@include media-breakpoint-up(sm){
			left: rem(30);
		}
	}
	.swiper-next{
		right: rem(10);
		@include media-breakpoint-up(sm){
			right: rem(30);
		}
	}
	&__s-img{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__s-content{
		position: absolute;
		z-index: 10;
		bottom: rem(30);
		left: rem(20);
		@include media-breakpoint-up(xl){
			bottom: rem(50);
			left: rem(74);
		}
	}
	&__s-txt{
		margin-top: auto;
		color: $white;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;

		font-size: rem(24px);
		letter-spacing: rem(2.5px);
	}
	//offer
	&__offer{
		position: relative;
		z-index: 1;


		@include media-breakpoint-up(lg){
			height: 100%;
			min-height: 0;
		}
	}
	&__o-img{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__o-row{
		@include roww(0);

		@include media-breakpoint-up(sm){
			min-height: rem(600);
		}
		@include media-breakpoint-up(lg){
			min-height: 0;
			height: 100%;
		}
		& > *{
			//min-height: 50%;

			@include media-breakpoint-up(lg){
				min-height: 270px;
			}
			@include media-breakpoint-up(xl){
				min-height: 350px;
			}
		}
	}
	&__o-white-box{
		background-color: rgba($white, .85);
		min-height: 100%;

		padding: rem(30) rem(20);
		@include media-breakpoint-up(xxl){
			padding: rem(44px) rem(40) rem(32);
		}

		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__o-title{
		font-weight: 700;

		letter-spacing: rem(1.5px);
		font-size: rem(21);
		@include media-breakpoint-up(xxl){
			letter-spacing: rem(2.5px);
			font-size: rem(24);
		}
		margin-bottom: rem(38);
	}
	&__o-txt{
		font-size: rem(18);
		line-height: 1.2;
		letter-spacing: rem(1);
		margin-bottom: rem(15);
	}
	&__o-btn{
		margin-top: auto;
		@extend .btn;
		@extend .btn-primary;

		color: $white;
		padding: rem(15);
		min-width: rem(200);

		font-size: rem(18px);
		line-height: (23.67/18);
		text-transform: uppercase;
		letter-spacing: rem(1);
	}
	//
	&__o-video{
		height: rem(300);
		@include media-breakpoint-up(sm){
			height: auto;
		}
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 100%;

		padding: rem(30) rem(20);
		@include media-breakpoint-up(xl){
			padding: rem(51px) rem(38px);
		}

		position: relative;
	}
	&__play-btn{
		position: absolute;
		top: 40%;
		left: 50%;
		@include media-breakpoint-up(xxl){
			top: 47%;
			left: 55%;
		}
		transform: translateY(-50%) translateX(-50%);

		width: rem(100);
		height: rem(100);
		@include media-breakpoint-up(xl){
			width: rem(137);
			height: rem(137);
		}
		border-radius: 50%;
		border: rem(5px) solid $white;

		display: flex;
		align-items: center;
		justify-content: center;

		&:after{
			content: '';
			position: relative;
			left: 8%;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: rem(23) 0 rem(23px) rem(40px);
			border-color: transparent transparent transparent $white;

		}
	}
	&__v-txt{
		color: $white;
		font-size: rem(24);
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: rem(2.5);
	}
	//offer-alt
	&__offer-alt{
		min-height: rem(300);
		@include media-breakpoint-up(xl){
			min-height: 100%;
		}
		position: relative;
		z-index: 1;

		display: flex;
		align-items: stretch;
	}

	&__oa-row{
		@include roww(0);
		width: 100%;
	}
	&__oa-link{
		width: 100%;
		height: auto;
		min-height: rem(300);
		@include media-breakpoint-up(sm){
			height: 100%;
			min-height: 0;
		}

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		position: relative;

		padding: rem(30) rem(20);
		@include media-breakpoint-up(xl){
			padding: rem(53) rem(73);
		}
	}
	&__oa-img{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__s-txt--offer{

	}
	&__full-white{
		min-height: 100%;
		background-color: $white;

		padding: rem(30) rem(20);
		@include media-breakpoint-up(xl){
			padding: rem(95) rem(42) rem(50);
		}

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include media-breakpoint-up(xxl){
			margin-left: -34px;
		}
	}
	&__news{
		min-height: 100%;
		background-color: $gray-550;
		padding: rem(35) rem(41) rem(50);
	}
	&__n-title{
		margin-bottom: rem(52);
		font-size: rem(30);
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: rem(2.7);
	}
	&__n-row{
		@include media-breakpoint-up(xxl){
			@include roww(80px)
		}

		& > *{
			margin-bottom: rem(30);
		}
		margin-bottom: rem(-30);

		padding-bottom: rem(56);
	}
	&__n-item{
		@include media-breakpoint-up(sm){
			max-width: rem(235);
		}

		font-size: rem(18);
		line-height: (22/18);
	}
	&__n-date{
		letter-spacing: rem(1.08px);
		margin-bottom: rem(24);
	}
	&__n-headline{
		display: block;
		color: $black;
		&:hover{
			color: rgba($black, .8);
		}
		font-weight: 700;
		letter-spacing: rem(1.7);

		margin-bottom: rem(20);
	}
	&__n-descr{
		letter-spacing: rem(1.08px);
	}
	&__n-btn{
		@extend .btn;
		@extend .btn-primary;

		color: $white;
		padding: rem(15);
		min-width: rem(200);

		font-size: rem(18px);
		line-height: (23.67/18);
		text-transform: uppercase;
		letter-spacing: rem(1);
	}
	&__{}
	&__{}
} // end.sData