mixin sDescr(data)
	// start sDescr
	+b.SECTION.sDescr.section#sDescr&attributes(attributes)
		.container
			+b.section-title
				h2.text-center Коттеджный поселок “Семкино”
				p Коттеджный посёлок "Новое Сёмкино" расположен на территории села Сёмкино Мурминского сельского поселения – одном из самых экологически чистых мест Рязанского района, в окружении смешанного леса, с одной стороны, озёр и реки Оки – с другой, что создаёт естественную рекреационную зону посёлка. Использование существующего ландшафта позволяет избежать ощущения тесноты – традиционного недостатка многих посёлков, а расстояние 1,5 км от автодороги Рязань-Спасск – полностью забыть о городском шуме.
	// end sDescr