extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/sData/_sData.pug
include ../blocks/sHeaderBaner/_sHeaderBaner.pug
include ../blocks/sQuartDescr/_sQuartDescr.pug

block variables
	- let  mainPage= null
	- let  bg= null
	- let  bodyStyle='--accent-color: #ed5b04'
block title
	- let  title= '02-lisichkino.html'
	title= title
block pagecontent
	+header()
		+top-nav2()
	+sHeaderBaner({})
		+breadcrumb('Главная', 'Кварталы', 'Лисичкино')
	+sQuartDescr()
	+footer()