extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/sData/_sData.pug
include ../blocks/sHeaderBaner/_sHeaderBaner.pug
include ../blocks/sQuartDescr/_sQuartDescr.pug

block variables
	- let  mainPage= null 
	- let  bg= null
block title
	- let  title= '03-park'
	title= title
block pagecontent
	+header()
		+top-nav3()
	+sHeaderBaner({
		img: 'park-bg',
	})
		+breadcrumb('Главная', 'Кварталы', 'Парковый', 'О квартале')
	+sQuartDescr2()
	+footer()