mixin sideMnu()
	+b.sideMnu--js
		+e.box.sideMnu-box-js
			+e.content
				+e.close-btn.burger-js
					img(loading="lazy" src="img/@2x/cross.png" alt="")
				+e.UL.menu
					li
						a(href="#") о поселкЕ
						ul.sideMnu__sub-menu
							li
								a(href="#") Что такое домовладение
							li
								a(href="#") Расположение
							li
								a(href="#") Кварталы
							li
								a(href="#") Почему "Новое Сёмкино"?
							li
								a(href="#") Документы
					li
						a(href="#") генплан
					li
						a(href="#") парк
					li
						a(href="#") кварталы
						ul.sideMnu__sub-menu
							li
								a(href="#") Парковый
							li
								a(href="#") Лисичкино
							li
								a(href="#") Большая полянка
							li
								a(href="#") Шишкино
							li
								a(href="#") Лужки
					li
						a(href="#") фото и видео
					li
						a(href="#") новости
					li
						a(href="#") партнеры
					li
						a(href="#") контакты
					li
						a.buy-link(href="#") купить
						ul.sideMnu__sub-menu
							li
								a(href="#") Проекты
							li
								a(href="#") Цены
							li
								a(href="#") Спецпредложения
			+e.foot
				.row
					.col.col-sm-6
						+e.tel(href='tel:4912392020')
							+e.t-icon
								img(loading="lazy" src="img/@2x/tel-white.png" alt="")
							+e.t-txt (4912) 39-20-20
						+e.office-txt
							| Офис продаж:
							br
							| г. Рязань, ул. Садовая, д. 32
					.col-auto.col-sm-6
						+b.soc-row.row.justify-content-end
							+smSocItem('fb')
							+smSocItem('b')
							+smSocItem('inst')
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.main-row.row
				.col-auto
					+e.logo(href='/')
						img(loading="lazy" src="img/@2x/logo.png" alt="")
				.col
					+e.top-row.row
						.col-auto.ms-auto
							+e.tel(href='tel:4912392020')
								+e.t-icon
									img(loading="lazy" src="img/@2x/tel-icon.png" alt="")
								+e.t-txt (4912) 39-20-20
						.col-auto.d-none.d-sm-block
							+buyBtnBl()
						.col-auto
							+e.burger.burger-js
								span
					+e.menu.d-none.d-lg-block
						+mnuMain()
	+greenLine()
	+sideMnu()
	// end top-nav

mixin top-nav2()
	// start top-nav
	+b.top-nav.block-with-lazy(style="--link-bg: #ed5b04;")
		+e.container.container
			+e.main-row.row
				.col-auto
					.row.align-items-end
						.col-auto
							+e.logo(href='/')
								img(loading="lazy" src="img/@2x/logo.png" alt="")
						.col-auto
							+e.local-logo
								img(loading="lazy" src="img/@2x/lisichkino.png" alt="")
				.col
					+e.top-row.row
						.col-auto.d-none.d-sm-block.ms-sm-auto
							+e.tel(href='tel:4912392020')
								+e.t-icon
									img(loading="lazy" src="img/@2x/tel-icon.png" alt="")
								+e.t-txt (4912) 39-20-20
						.col-auto.d-none.d-md-block
							+buyBtnBl()
						.col-auto.ms-auto.ms-sm-0
							+e.burger.burger-js
								span
					+e.menu.d-none.d-lg-block
						+mnuMain()
	//-+greenLine()
	+sideMnu()
mixin top-nav3()
	// start top-nav
	+b.top-nav.block-with-lazy(style="--link-bg: #2590cf;")
		+e.container.container
			+e.main-row.row
				.col-auto
					.row.align-items-end
						.col-auto
							+e.logo(href='/')
								img(loading="lazy" src="img/@2x/logo.png" alt="")
						.col-auto
							+e.local-logo
								img(loading="lazy" src="img/@2x/park-logo.png" alt="")
				.col
					+e.top-row.row
						.col-auto.d-none.d-sm-block.ms-sm-auto
							+e.tel(href='tel:4912392020')
								+e.t-icon
									img(loading="lazy" src="img/@2x/tel-icon.png" alt="")
								+e.t-txt (4912) 39-20-20
						.col-auto.d-none.d-md-block
							+buyBtnBl()
						.col-auto.ms-auto.ms-sm-0
							+e.burger.burger-js
								span
					+e.menu.d-none.d-lg-block
						+mnuMain()
	//-+greenLine()
	+sideMnu()
mixin top-nav4()
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.main-row.row
				.col-auto
					+e.logo(href='/')
						img(loading="lazy" src="img/@2x/logo.png" alt="")
				.col
					+e.top-row.row
						.col-auto.ms-auto
							+e.tel(href='tel:4912392020')
								+e.t-icon
									img(loading="lazy" src="img/@2x/tel-icon.png" alt="")
								+e.t-txt (4912) 39-20-20
						.col-auto.d-none.d-sm-block
							+buyBtnBl()
						.col-auto
							+e.burger.burger-js
								span
					+e.menu.d-none.d-lg-block
						+mnuQuart()
	+greenLine()
		li: a(href='#') Большая полянка
		li: a(href='#') Парковый
		li: a(href='#') Лисичкино
		li: a(href='#') Шишкино
		li: a(href='#') Лужки
	+sideMnu()

mixin greenLine()
	+b.green-line.d-none.d-lg-block
		.container
			+e.UL.menu
				if block
					block
				else
					li: a(href='#') Что такое домовладение
					li: a(href='#') Расположение
					li: a(href='#') Кварталы
					li: a(href='#') Почему "Новое Сёмкино"?
					li: a(href='#') Документы
mixin smSocItem(imgName)
	.col-auto
		+e.item(href='#')
			img(loading="lazy" src=`img/@2x/${imgName}.png` alt="")

mixin buyBtnBl()
	+e.buy-btn-cont
		+e.buy-btn купить
		+e.btns-dd
			+e.buy-btn(href='#') купить
			+e.buy-btn--dd(href='#') Проекты
			+e.buy-btn--dd(href='#') Цены
			+e.buy-btn--dd(href='#') Спецпредложения