mixin sQuartDescr(data)
	// start sQuartDescr
	+b.SECTION.sQuartDescr.section#sQuartDescr&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Квартал “Лисичкино”
				p
					| «Лисичкино» - это уникальный квартал в коттеджном поселке «Новое Семкино». Квартал, общей площадью 8,5 га, разбит на три улицы и состоит из 50 домовладений. К продаже предлагаются участки от 12,5 соток, одноэтажные дома от 82 кв. м, двухэтажные дома от 120 кв. м.
					br
					| Так же как и другие кварталы «Нового Семкино», все домовладения в «Лисичкино» имеют централизованные инженерные коммуникации, охрану, доступ к инфраструктуре и парковому комплексу поселка, благоустроенную территорию общего пользования, ну и, конечно же, по-прежнему при строительстве используются самые качественные материалы.
				p  Обладая всеми перечисленными преимуществами, «Лисичкино» имеет и ряд уникальных особенностей, которые позволяют ему выделиться на общем фоне поселка.
				a(href="#") Подробнее о квартале “Лисичкино”
			+e.row.row
				+qdOffer()
				+qdOffer()
				+qdOffer()
	// end sQuartDescr

mixin qdOffer()
	.col-lg-4
		+e.item
			+e.title СПЕЦПРЕДЛОЖЕНИЕ 1
			+e.descr
				| готовый коттедж 150м2
				br
				| участок 6 соток
				br
				| все коммуникации
			+e.btn(href='#') Смотреть