mixin sQuartDescr(data)
	// start sQuartDescr
	+b.SECTION.sQuartDescr.section#sQuartDescr&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Квартал “Лисичкино”
				p
					| «Лисичкино» - это уникальный квартал в коттеджном поселке «Новое Семкино». Квартал, общей площадью 8,5 га, разбит на три улицы и состоит из 50 домовладений. К продаже предлагаются участки от 12,5 соток, одноэтажные дома от 82 кв. м, двухэтажные дома от 120 кв. м.
					br
					| Так же как и другие кварталы «Нового Семкино», все домовладения в «Лисичкино» имеют централизованные инженерные коммуникации, охрану, доступ к инфраструктуре и парковому комплексу поселка, благоустроенную территорию общего пользования, ну и, конечно же, по-прежнему при строительстве используются самые качественные материалы.
				p  Обладая всеми перечисленными преимуществами, «Лисичкино» имеет и ряд уникальных особенностей, которые позволяют ему выделиться на общем фоне поселка.
				a(href="#") Подробнее о квартале “Лисичкино”
			+e.row.row
				+qdOffer()
				+qdOffer()
				+qdOffer()
	// end sQuartDescr


mixin sQuartDescr2(data)
	// start sQuartDescr
	+b.SECTION.sQuartDescr--alt.section#sQuartDescr&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Квартал “Парковый”
				p «Парковый квартал» – это домовладения у самого парка. Отсюда и название. Уютный и живописный, со своей неповторимой атмосферой, квартал располагается в самом центре коттеджного посёлка «Новое Сёмкино».
				p.mb-46.ident-15 «Парковый квартал» включает 58 домовладений, расположенных вокруг сердца посёлка – большого паркового комплекса. От них рукой подать до главного украшения парка – озера с каскадным водопадом. В квартале есть несколько уникальных участков с коттеджами, из окон которых открывается великолепный вид непосредственно на озеро и аллею из клёнов, посаженных жителями посёлка. Зимой особое праздничное настроение всему кварталу придают несколько десятков сосен, посаженных вокруг парка и подсвеченных новогодними гирляндами. Таким образом, уют и живописность парка задают настроение и неповторимую атмосферу всему кварталу. Кроме этого, в парке находятся детская и спортивная площадки.
				+e.img
					img(loading="lazy" src="img/@2x/park-img.jpg" alt="")
				p Однако уже сейчас здесь есть всё необходимое для комфортной и уютной жизни за городом:
				ul.mb-0
					li полная обеспеченность всеми коммуникациями (водопровод, центральная канализация, электричество, газ, дороги, интернет и цифровое телевидение),
					li безопасность (территория посёлка находится под охраной),
					li организованный паркинг,
					li централизованная уборка территории,
					li чистый воздух,
					li артезианская вода в каждом доме.
				p.ident-15 Современные и красивые дома, выполненные в едином архитектурном стиле и построенные из качественных и экологически чистых строительных материалов (для наружных стен мы используем тёплые керамические блоки компании Weinerberger) обеспечивают тепло зимой и прохладу летом. Дома строятся по готовым или индивидуальным проектам, площадь готовых проектов варьируется от 100 до 600 кв. м. Участки от 12 соток.
				p.ident-15 Всё, что нужно для счастливой жизни и отдыха за городом, вы найдёте в «Парковом квартале»!  И это всего в 24 минутах от центра города! Выбирайте новую жизнь в коттеджном посёлке «Новое Сёмкино»!
				p.ident-15 Чтобы узнать больше о возможностях приобретения домовладений, звоните нам по тел.: (4912) 39-20-20.
			+e.row.row
				+qdOffer()
				+qdOffer()
				+qdOffer()
mixin qdOffer()
	.col-lg-4
		+e.item
			+e.title СПЕЦПРЕДЛОЖЕНИЕ 1
			+e.descr
				| готовый коттедж 150м2
				br
				| участок 6 соток
				br
				| все коммуникации
			+e.btn(href='#') Смотреть