mixin sHeaderBaner(data)
	// start sHeaderBaner
	+b.sHeaderBaner#sHeaderBaner&attributes(attributes)
		+e.bg
			if data.img
				img(loading="lazy" src=`img/@2x/${data.img}.jpg` alt="")
			else
				img(loading="lazy" src='img/@2x/local-baner.jpg' alt="")
		.container
			block
	// end sHeaderBaner