mixin sHeaderBaner(data)
	// start sHeaderBaner
	+b.sHeaderBaner#sHeaderBaner&attributes(attributes)
		+e.bg
			img(loading="lazy" src='img/@2x/local-baner.jpg' alt="")
		.container
			block
	// end sHeaderBaner